.addTimeSlot {
	position: relative;

	h1 {
		width: 100%;
	}

	input[type="date" i],
	input[type="time" i] {
		font-family: 'Poppins', Arial, Helvetica, sans-serif;
	}

	@media screen and (min-width: $media-md) {
		width: 120%;
		margin-left: -10%;
	}

	& > svg {
		top: -1rem;
		left: -1rem;
	}

	& > div > form {
		margin: 0 2rem;

		button {
			margin: 2rem 0 1rem;
		}

		& > label > div {
			width: 100%;
		}
	}
}