.dashboard {
	& > div {
		padding: 0 1.5rem;
	}

	@media screen and (min-width: $media-md) {
		.studentCard {
			display: flex;
		}
	}

	.backgroundStripes {
		left: 10vw;
		top: -7vw;
		width: 50vw;
		height: 75vw;
		max-height: 210px;

		@media screen and (min-width: $media-md) {
			left: 40vw;
			top: -2vw;
			width: 33vw;
			height: auto;
			max-height: none;
		}
	}

	.teacherCard {
		max-width: 760px;
		width: 100vw;

		@media screen and (min-width: $media-md) {
			min-width: 50vw;
		}

		& > div {
			padding: 1.5rem;
			margin: 0 1.5rem;
		}

		ul {
			margin: auto;
		}
	}

	.buttonRow {
		width: 100%;
		display: flex;
		margin-left: auto;
		flex-direction: column;

		@media screen and (min-width: $media-md) {
			max-width: 25vw;
		}
		@media screen and (min-width: $media-xl) {
			flex-direction: row;
		}

		svg {
			width: 1.5em;
			height: 1.5em;
		}

		button:first-of-type {
			margin-bottom: 8px;

			@media screen and (min-width: $media-xl) {
				margin-right: 8px;
				margin-bottom: 0;
			}
		}

		button:last-of-type {
			margin-bottom: 28px;

			@media screen and (min-width: $media-xl) {
				margin-left: 8px;
				margin-bottom: 0;
			}
		}
	}

	ul {
		max-width: 712px;
		list-style: none;
		padding: 0;

		li {
			margin: 16px 0;
		}
	}

	ul.student {
		min-width: unset;
		padding: 0 2rem;
	}
}
