.laboDetails {
	width: 80vw;

	.card {
		padding: 0 1.5rem;

		form {
			& > div {
				max-width: 496px;
				margin: auto;
			}

			& > * {
				word-wrap: break-word;
			}
		}

		.teacherDetails {
			table {
				width: 100%;
				margin: 0 auto;
			}
		}

		ul {
			margin-top: 2rem;
			list-style-type: none;
			padding-left: 0;

			@media screen and (min-width: $media-xl) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}

			li {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 1rem;

				@media screen and (min-width: $media-md) {
					flex-direction: row;

					button {
						margin-left: 2rem;
					}
				}
			}
		}
	}

	.backgroundStripes {
		left: 10vw;
		top: -1vw;
		width: 50vw;
		height: 75vw;
		max-height: 210px;

		@media screen and (min-width: $media-md) {
			left: 60vw;
			width: 33vw;
			height: auto;
			max-height: none;
		}
	}

	button {
		width: fit-content;

		svg {
			margin-right: 4px;
		}
	}

	.code {
		background-color: $vives-sand-light;
		border-radius: 8px;
		padding: 1rem;
		word-wrap: break-word;
	}

	.buttonTitleRow {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		@media screen and (min-width: $media-md) {
			flex-direction: row;
		}

		button {
			height: fit-content;
			margin-bottom: 1rem;
		}
	}
}
