$vives-white: #fffefa;
$vives-black-20: rgba(30, 30, 30, 0.2);
$vives-black-40: rgba(30, 30, 30, 0.4);
$vives-black-60: rgba(30, 30, 30, 0.6);
$vives-black-80: rgba(30, 30, 30, 0.8);
$vives-black: #1e1e1e;

$vives-red: #e00020;
$error: $vives-red;
$media-2xs: '400px';
$media-xs: '500px';
$media-md: '768px';
$media-lg: '1024px';
$media-xl: '1280px';
$media-xxl: '1440px';

$vives-sand-dark: #d3d0bb;
$vives-sand-light: #efeee9;

$shadow-bottom: 0px 4px 4px rgba(201, 202, 198, 0.25);
$shadow-general: 0px 4px 4px rgba(0, 0, 0, 0.25);
